/*base styles*/
:root {
  --primary-text-color: #434455;
  --secondary-color: #2e2f42;
  --primary-white-color: #ffffff;
  --background-our-team-buttons: #f4f4fd;
  --accent-color: #4d5ae5;
  --footer-color: #e7e9fc;
  --secondary-accent-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.buttons {
  font-family: inherit;
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.paragraph {
  margin-top: 8px;
}

/*header*/
.head {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-right: 77px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.logo-span {
  color: var(--accent-color);
}

/*main nav*/
.site-nav {
  display: flex;
}

.site-nav-list {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 40px;
}

.site-nav-list .link,
.contacts-list .link {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

/*contacts*/
.contacts-list {
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 40px;
}

/*index.html*/
.hero {
  background-color: var(--secondary-color);
}

.heading-hero {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.hero .buttons {
  margin-left: 635px;
  margin-right: 635px;
  margin-top: 48px;
  padding: 16px 32px;
  border-color: transparent;
  border-radius: 4px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.04em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero .buttons:hover,
.hero .buttons:focus {
  color: var(--primary-white-color);
  background-color: var(--secondary-accent-color);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
}

.features-item:not(:last-child) {
  margin-right: 24px;
}

.features-list h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.features-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.activity {
  padding-top: 0;
  padding-bottom: 143px;
}

.activity-list {
  display: flex;
  margin-top: 72px;
}

.activity-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}

.activity-item:not(:last-child) {
  margin-right: 24px;
}

.team {
  background-color: var(--background-our-team-buttons);
  padding-top: 97px;
}

.team-list {
  display: flex;
  margin-top: 72px;
}

.team-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}

.team-heading-item {
  margin-top: 32px;
}

.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
  background-color: var(--primary-white-color);
}

.team-list h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.team-list p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.team-item:not(:last-child) {
  margin-right: 24px;
}

/*footer*/
.page-footer {
  background-color: var(--secondary-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

footer .logo {
  color: var(--background-our-team-buttons);
}

.page-footer .logo {
  padding: 0;
}

.page-footer p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color);
  margin-top: 16px;
}

/*portfolio.html*/
.gallery {
  padding-top: 96px;
}
.gallery .button-list {
  display: flex;
  justify-content: center;
}

.button-item:not(:last-child) {
  margin-right: 24px;
}

.button-list .buttons {
  padding: 8px 16px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--background-our-team-buttons);
}

.button-list .buttons:hover,
.button-list .buttons:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
}

.projects-item:not(:nth-child(3n)) {
  margin-right: 24px;
}
.projects-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.projects-item {
  border-bottom: 0.5px solid #f4f4fd;
  padding-bottom: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.projects-list h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-top: 32px;
  padding-left: 16px;
}

.projects-list p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 8px;
  padding-left: 16px;
}
